<?xml version="1.0" encoding="UTF-8"?>

<suite parallel="tests" name="Suite">
<listeners>
<listener class-name="testProject.TestComponents.Listeners"/>
</listeners>
  <test thread-count="5" name="Submit Order Test">
    <classes>
      
      <class name="testProject.tests.SubmitOrderTest"/>
     
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Error Validations Test">
    <classes>
      <class name="testProject.tests.ErrorValidationsTest"/>
      
    </classes>
  </test> 
</suite> <!-- Suite -->
